
<%= render 'layouts/navigation' %>
<p style="color: green"><%= notice %></p>

<div id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %>
    <p>
      <%= link_to "Show this todo", todo %>
    </p>
  <% end %>
</div>