<div class ="container" id="jumbo-container">

<div class="jumbotron">
  <h1 class="display-4 text-center">To do list</h1>
  <p class="lead text-center">This is a simple to do list website</p>
  <hr class="my-4 text-center">
  <p class= "text-center">Create, Read, Update, Delete your to do lists here!</p>
  <p class="lead text-center">
  <%= link_to "Create a to do list", new_todo_path, class: "btn btn-success btn-lg"  %>
  </p>
</div>